@font-face {
  font-family: "TextDefault";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: "HeaderFont";
  src: url("/fonts/Gruppo-Regular.ttf");
}

.icon {
    color: white;
    vertical-align: middle;
    margin-top: -0.125rem;
}

.icon-change {
    color: #51516b;
    vertical-align: middle;
    margin-top: -0.125rem;
}

.close-icon {
    color: grey;
    cursor: pointer;
}

.close-icon:hover {
    color: white;
}

.link {
    color: hsl(211, 94%, 50%) !important;
    text-decoration: none !important;
}

.btn {
    box-shadow: none !important;
}

.li {
    list-style: none;
}

.is-invalid {
    background-position: left calc(0.375em + 0.1875rem) center !important;
    padding-left: 2.15rem !important;
}

.textarea {
    background-position: left calc(0.375em + 0.1875rem) top calc(0.375em + 0.1875rem) !important;
    
}

.name-input, .mail-input, .password-input {
    background-repeat: no-repeat;
    background-position: left calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    padding-left: 2.15rem !important;
}

.name-input {
    background-image: url("/icons/name.svg");
}

.mail-input {
    background-image: url("/icons/email.svg");
}

.password-input {
    background-image: url("/icons/password.svg");
}

$font-family-sans-serif: "TextDefault";

$body-bg: #363645; //#06080e; //#1f2747; //161E57;
$body-color: #fff;

//$enable-gradients: true;
//$enable-shadows: true;

$dark: #303557;
$dark2: #262630; //#343a61;

$theme-colors: (
  "success": #309257,
  "dark": $dark,
  "primary": #077cf6,
  "info": #7a87de,
  "dark2": $dark2,
  "muted2": rgba(255, 255, 255, 0.5),
  "redGamer": #ef4437,
);

$input-color: white;
$input-bg: #3a3a56;
$input-disabled-bg: #51516b;
$input-border-color: rgba(255, 255, 255, 0.5);
$input-placeholder-color: rgba(255, 255, 255, 0.6);
$custom-select-indicator-color: rgba(255, 255, 255, 0.6);

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/variables";

.form-control:focus {
  background-color: theme-color("dark");
  box-shadow: none !important;
}

h1.lg {
  font-size: 70pt;
}

@media (max-width: 900px) {
  h1.lg {
    font-size: 60pt;
  }
}
@media (max-width: 750px) {
  h1.lg {
    font-size: 40pt;
  }
}

@media (max-width: 450px) {
  h1.lg {
    font-size: 30pt;
  }
}
h1,
h2,
h3,
h4 {
  color: white;
  opacity: 1;
  font-family: "HeaderFont";
}

.swal-modal {
  background-color: $dark2;
}

.swal-button {
  border-radius: 2px;
  background-color: transparent;
  border: 3px solid $white;
  color:$white;
  font-size: 12px;
  text-shadow: none;
  transition: all ease-in-out .3s;
  &:focus,&:active{
    box-shadow: none;
  }
  &:hover{
    background-color: $blue !important;
  }  
}

.swal-overlay {
  background-color: rgba(0,0,0, .9);
}

.navbar-toggler{
  svg{
    font-size: 30px;
    padding: 0;
  }
}


.navbar-brand{
  img {
    margin-bottom: 5px;
    margin-right:5px;
  }
  span {
    text-shadow: 0 1px 5px white;
    span{
      text-shadow: 0px 1px 5px red;
    }
  }
}

.toggle-mark{
  position: absolute;
  height: 10px !important;
  top:-5px;
  right: -5px;
  border-radius: 5px;
}

.nav-link {
  display: flex;
  align-items: center;
  position: relative;
  svg{
    margin-right: .4rem;
  }

  span{
    position: absolute;
    right:8%;
    width: 20%;
    height: 15px;
    top: -4px;
    border-radius:0 0px 5px 5px;
    opacity: .7;

    @media (max-width:767px) {
      left:80px;
      top: 3px;
      border-radius: 8px;
      width: 20px;
    }
  }
}

@import "react-alice-carousel/lib/scss/alice-carousel.scss";
