.container {
        background-color: #000;
        height: 100%;
        width: 100%;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        position: fixed;
        color: white;
        transition: ease-in .2s;
        display: flex;
        align-items: center;
        justify-content: center;
}

.show {
        z-index: 9999;
        opacity: 1;
}
.hidden{
        opacity: 0;
        z-index: -9999;
}